.video-presentation{
  background-image: url('../images/video/video.jpg');
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  height: 500px;
  display: flex;
 justify-content: center;
 align-items: center;
 margin-bottom: 115px;
 }


 @media(max-width:1200px){
   .video-presentation{
     height: 400px;
   }
 }
 @media(max-width:880px){
  .video-presentation{
    height: 300px;
  }
}
@media(max-width:650px){
  .video-presentation{
    height: 250px;
    &__btn{
      width: 70%;
    }
  }
  
}
@media(max-width:320px){
.video-presentation{
  height: 250px;
 }
}