.video-presentation{
  background-image: url('../images/video/video.jpg');
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  height: 500px;
  display: flex;
 justify-content: center;
 align-items: center;
 margin-bottom: 115px;
 }