@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.header{
  
  &__inner{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.menu{
  &__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 178px;
  }
  &__list-item:not(:last-child){
   margin-right: 30px;
  }
  
  &__list-link{
  color:$accent;
  font-size: 15px;
  line-height: 12px;
  text-decoration: none;
  @extend %Rubik-400;
  &:hover{
    border-bottom: 1px solid $accent;
  transition: all 0.3s;
  }
  
 }
 &menu__list-link--active{
   color:$accent;
   
 }
}

.user-nav{
   display: flex;
   position: relative;
  
  
  
  
  &__link{
  position: relative;
  border: none;
  background-color:#fcd7b6;
  cursor: pointer;
  
  
  }
  &__link--right{
    padding: 18px 30px 10px 40px;
    border-radius: 0 30px 30px 0;
  }
  &__link--left{
    padding: 18px 30px 10px 40px;
    border-radius: 30px 0 0 30px;
  }
  &__num{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top:10px;
    left:50px;
    font-size: 10px;
    color:#436372;
    text-align: center;
    padding:3px;
    z-index: 1;
    @extend %DMSans-400;
  }
  &__link-search, .user-nav__link-menu{
   text-align: center;
    border: none;
    border-radius: 50%;
    width: 52px;
    height: 52px;
  }
  &__link-search{
    margin-right: 21px;
    background-color: rgba(163,187,200,.2);
    display: flex;
    align-items: center;
    justify-content: center;
    
    
  }
  &__link-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a3bbc8;
    margin-left: 18px;
    
  }

}
footer{
  background-color: $bgfff;
  
}
.footer-top{
  padding: 79px 285px 74px;
  display: flex;
  border-bottom: 1px solid #dae4e9;
  &__logo{
   display: block;
   margin-bottom: 28px;
  }
  &__adress, &__text {
    line-height: 2;
    font-size: 14px;
    @extend %Rubik-400;
    color: $footertext;
  }
  &__contacts{
    width:193px;
    margin-right: 107px;
  }
  &__nav{
    width:128px;
    margin-right: 172px;
  }
  &__item-form{
   max-width: 270px;
  }
  &__link{
    line-height: 2;
    font-size: 14px;
    @extend %Rubik-400;
    color: $footertext;
    display: block;
  }
  &__phone,
  &__email{
    line-height: 2;
    font-size: 14px;
    @extend %Rubik-400;
    color:$footertext;
  }
  &__title{
   @extend %DMSans-700;
   font-size: 16px;
   color:#1f2044; 
   margin-top: 16px;
   margin-bottom: 30px;
  }
  &__text{
    margin-bottom: 25px;
    margin-right: 110px;
  }
  &__form{
    display: flex;
  }
  &__form-input{
   max-width: 170px;
   background-color: #fef7f0;
   border: none;
   width:100%;
   padding: 15px;
   &::placeholder{
     color:#1f2044;
     font-size: 12px;
   }
  }
  &__form-btn{
   border: none;
   background-color:$buttons;
   color:#fff;
   text-transform: uppercase;
   padding: 17px 15px;
   font-size: 12px;
   cursor: pointer;
  }
}
.footer-bottom{
  padding: 40px 285px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  font-size: 14px;
  color:$footertext;}
  
  .bottom-menu {
  &__list-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
   }

  &__list-item:not(:last-child){
    padding-right: 15px;
    padding-left: 15px;
    border-right: 1px solid $footertext; ;
   }
  &__list-link{
    color:$footertext;
    font-size: 14px;
    line-height: 12px;
    text-decoration: none;
    @extend %Rubik-400;
  }
}
.top-slider{
  

  &__img{
max-width: 640px;
max-height: 264px ;
margin-top: 70px;

  }
  
  &__container{
    background-image: url('../images/slider/ellipse\ .png');
    background-repeat: no-repeat;
    background-position: 1090px 90px;
    max-width: 600px;
    background-color: $slider;
    max-width: 1770px;
    
  }
  &__item{
    display: flex !important ;
    justify-content: space-between;
    padding: 220px 200px 280px 200px
    
    }
  &__title{
    max-width: 415px;
    font-size: 72px;
    line-height: 70px;
    color:$title;
    @extend %Rubik-500;
    margin-bottom: 40px;
  }
  &__text{
    max-width: 370px;
    font-size: 18px;
    line-height: 30px;
    color:$accent;
    @extend %Rubik-400;
    margin-bottom: 42px;

  }
  &__link:last-child{
    display: inline-block;
    background-color: $buttons;
    text-transform: uppercase;
    color:#ffff;
    font-size: 15px;
    line-height: 12px;
    @extend %Rubik-500;
    padding: 24px 20px 20px 28px;
  }
   &__span{
    padding-right: 55px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    li{
      margin-left: 10px;
      margin-top: -70px;
      button{
        
        position:relative;
        padding: 0;
        background-color: #fde3cc;
        width: 29px;
        height: 29px;
        border: none;
        border-radius: 50%;
        &::before{
          content: '';
          position: absolute;
          border-radius: 50%;
          transform: translate(-50%, -50%);
        }  
      }
      &.slick-active{
       button{
         background-color: #ffff;
       }
      }
    }
  }
}


  .description{
    &__container--long{
      background-color:#fef7f0;
      margin-bottom: 70px;
    }
    
    
    &__items{
      display: flex;
      justify-content: space-between;}
       
     
   
      
    
    &__item {
      display: flex;
      justify-content: center;
      padding: 48px;
      width: 100%;
      font-family: "DM Sans", sans-serif;
      font-weight: 400;}
      &__info {
        padding-left: 80px;
        max-width: 306px;
        background-position: top left;
        background-repeat: no-repeat;
    }
    &__info {
      padding-left: 80px;
      max-width: 306px;
      background-position: top left;
      background-repeat: no-repeat;
    

   
  }
  }
  
    .description__info--support{
      background-image: url(../images/description/support.svg);
      background-repeat: no-repeat;
     }
     .description__info--dilevery{
       background-image: url(../images/description/dilevery.svg);
       background-repeat: no-repeat;
     }
    .description__info--pay{
     background-image: url(../images/description/card.svg);
     background-repeat: no-repeat;
    }
  
    
    .products-info{
      padding-top: 75px 0;
      &__container{
        max-width: 1200px;
      }
    }

    .product-nav{
    
      display: flex;
      justify-content: center;
      &__item {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
    &__button{
      border: none;
      background-color: transparent;
      font-size: 16px;
      color: #8b8b8b;
      margin-top: 38px;
      margin-bottom: 80px;
      &:hover{
        transition: color 0.5s;
        color: #1f2044;
      }
    }
   }
  
   .product__items{
     display: flex;
     flex-wrap: wrap;
     bottom: 185px;
     margin: 0 -15px;
     
     background-color: #fbfbfb;
     
    }

     .product-card{
       background-color: #ffff;
      margin: 0 15px 40px;
      width: calc(100% / 4 - 30px);
      height: 380px;
      border-radius: 10px;
      text-align: center;
      position: relative;
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      overflow: hidden;
      &__title{
       color:$title;
       font-size: 16px;
       line-height: 40px;
       margin-bottom: 15px;
      }
     &__price{
       color:$buttons;
       padding-bottom:38px ;
     }
      &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
         padding: 27px 15px 35px;
         height: 100%;
      }
     
     &__links{
       position: absolute;
       display:flex;
       bottom:152px;
       transition: all .3s;
       transform: translateX(300%);
      
       
       
       }
     &__like, &__shopping, &__search{
       border:none;
       border-radius:50%;
       background-color: #fff;
       width: 45px;
       height: 45px;
       display: flex;
       align-items: center;
       justify-content: center;&:hover{
       background-color: $buttons;
       transition:all .5s;
       }
     }
       
     
     &__search,&__shopping{
      margin-right: 15px;
     }
     &__search:hover{
       path{
          fill: #ffff;
        }
      }
        &__shopping:hover{
      
          path{
            fill: #fff;
          }
     }
      &__like:hover{
      
        path{
          fill: #fff;
          
        }
      }
      &:hover{
      .product-card__links{
        transform: translateX(0);
        
      }
      }
    }
   
      .illuminators__items{
        display: flex;
        justify-content: space-around;
        margin-top: 180px;
        
      }
      .illuminators__item{
        max-width: 870px;
        padding: 97px 100px 87px 130px;
        width: 100%;
        background-color: rgba(252,215,182,.4);
        &-title{
          font-size: 26px;
          color:$title;
          line-height: 32px;
          margin-bottom: 32px;
         }
       &-text{
        @extend %Rubik-400;
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 35px;
       }
       &--link{
         padding: 20px 20px 25px 20px;
         border: 1px solid #b3b7b5 ;
         border-radius: 5%;
         margin-bottom: 98px;&:hover{
         background-color: $buttons;
         transition:all .3s;
          }
       }
       &-span{
         color:$accent;
         padding-right: 45px;
         &:hover{
          color:#ffff;
          transition:all .3s;
           }
       }
      }
      .illuminators__content{
        position: relative;
        padding-left: 255px;
        
       
      }
      
      .illuminators__image{
        position: absolute;
        left: 0px;
        bottom: 0;
        object-fit: cover;
        height: 405px;
        max-width: 235px;
      }
      
       
        .illuminators__item:not(:last-child){
          margin-right: 30px;
        }


      
    
    
    
  
     
  
@import 'media';