.illuminators__items{
  display: flex;
  justify-content: space-around;
  margin: 180px 0px 104px;
  
}
.illuminators__item{
  max-width: 870px;
  padding: 97px 100px 87px 130px;
  width: 100%;
  background-color: rgba(252,215,182,.4);
  &-title{
    font-size: 26px;
    color:$title;
    line-height: 32px;
    margin-bottom: 32px;
   }
 &-text{
  @extend %Rubik-400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 35px;
 }
 &--link{
   padding: 20px 20px 25px 20px;
   border: 1px solid #b3b7b5 ;
   border-radius: 5%;
   margin-bottom: 98px;
   transition:all .3s;
   &:hover{
   background-color: $buttons;
   
    }
 }
 &-span{
   color:$accent;
   padding-right: 45px;
   transition:all .3s;
   &:hover{
    color:#ffff;
    
     }
 }
}
.illuminators__content{
  position: relative;
  padding-left: 255px;
  
 
}

.illuminators__image{
  position: absolute;
  left: 0px;
  bottom: 0;
  object-fit: cover;
  height: 405px;
  max-width: 235px;
}
.illuminators__item:not(:last-child){
    margin-right: 30px;
  }

  @media(max-width:1500px){
    .illuminators{
    &__item-title {
      font-size: 22px;
  }
  &__item {
    max-width: 750px;
    padding: 97px 70px 87px 130px;   
 }
 &__item-span {
  
  padding-right: 5px;
 }
  &__image {
  left: -65px; 
  height: 375px;
  max-width: 220px;
}
 }
  }
  @media(max-width:1350px){
    .illuminators{
      &__item {
      max-width: 665px;
      padding: 97px 94px 87px 105px;
      }
      &__content{
      padding-left: 170px;
      }
  }
  }
  @media(max-width:1280px){
  .illuminators{
    &__content {
      padding-left: 190px;
  }
  &__items{
    flex-direction: column;
    align-items: center;
  }
   &__item {
    max-width: 700px;
    padding: 97px 9px 87px 79px;
   }
  &__item:not(:last-child) {
    margin-bottom: 155px;
}
    
}
}
  @media(max-width:895px){
    .illuminators{
    &__item:not(:last-child) {
      margin-right: 0;
  }
  &__item {
    padding: 80px 10px 51px 50px;
}
 &__item-text {
  font-size: 15px;
}
 }
  }

  @media(max-width:585px){
    .illuminators{
     &__item{
      max-width: 535px;
    }
    }
  }
  @media(max-width:475px){
    .illuminators{
    &__item-text {
      font-size: 11px;
      line-height: 27px;
    }
    &__content {
      padding-left: 159px;
  }
  &__image {
    left: -52px;
    height: 249px;
    max-width: 162px;
}
  }
}
@media(max-width:415px){
  .illuminators{
    &__content{
padding-left: 109px;
    }
    &__item:not(:last-child) {
      margin-bottom: 50px;
  }
  &__items{
    margin: 0 0 140px;
  }
  }
  }
@media(max-width:375px){
  .illuminators{
&__item--link{
  padding: 10px 10px 15px 10px;;
}
&__content {
  padding-left: 105px;
}
&__image {
  left: -53px;
  max-width: 127px;
}
&__item {
  padding: 80px 10px 51px 30px;
}
&__image {
  left: -27px;
}

}
}
@media(max-width:320px){
  .illuminators{
  &__item {
    padding: 10px 5px 35px 20px;
}
&__item-title {
  font-size: 20px;
}
&__content {
  padding-left: 70px;
}
&__image {
  left: -53px;
  max-width: 90px;
  height: 170px;
}
}
}