.products-info{
  padding-top: 75px 0;
  margin-bottom: 95px;
  &__container{
    max-width: 1200px;
  }
}

.product-nav{

  display: flex;
  justify-content: center;
  &__item {
    &:not(:last-child) {
        margin-right: 30px;
    }
}
&__button{
  border: none;
  background-color: transparent;
  font-size: 16px;
  color: #8b8b8b;
  margin-top: 38px;
  margin-bottom: 80px;
  transition: color 0.5s;
  &:hover{
    color: #1f2044;
  }
}
}

.product__items{
 display: flex;
 flex-wrap: wrap;
 bottom: 185px;
 margin: 0 -15px;    
background-color: #ffff;
 
}

 .product-card{
  background-color: #ffff;
  margin: 0 15px 40px;
  width: calc(100% / 4 - 30px);
  height: 380px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  overflow: hidden;
  &__title{
   color:$title;
   font-size: 16px;
   line-height: 40px;
   margin-bottom: 15px;
  }
 &__price{
   color:$buttons;
   padding-bottom:38px ;
 }
  &__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;
     padding: 27px 15px 35px;
     height: 100%;
  }
 
 &__links{
   position: absolute;
   display:flex;
   bottom:152px;
   transition: all .3s;
   transform: translateX(300%);
    
   }
 &__like, &__shopping, &__search{
   border:none;
   border-radius:50%;
   background-color: #fff;
   width: 45px;
   height: 45px;
   display: flex;
   align-items: center;
   transition:all .3s;
   justify-content: center;
   &:hover{
   background-color: $buttons;
   
   }
 }
   
 
 &__search,&__shopping{
  margin-right: 15px;
 }
 &__search:hover{
   path{
      fill: #ffff;
    }
  }
    &__shopping:hover{
  
      path{
        fill: #fff;
      }
 }
  &__like:hover{
  
    path{
      fill: #fff;
      
    }
  }
  &:hover{
  .product-card__links{
    transform: translateX(0);
    
  }
  }
}