.top{
  &__container{
    max-width: 1920px;
    background-color: #edf1f4;
    padding:33px 0 ;
    text-align: center;
  }
}
.top-slider{
  

  &__img{
 max-width: 640px;
 max-height: 264px;
 margin-top: 70px;

  }
  
  &__container{
    background-image: url('../images/slider/ellipse\ .png');
    background-repeat: no-repeat;
    background-position: 1090px 90px;
    max-width: 600px;
    background-color: $slider;
    max-width: 1770px;
    
  }
  &__item{
    display: flex !important ;
    justify-content: space-between;
    padding: 220px 200px 280px 200px
    
    }
  &__title{
    max-width: 415px;
    font-size: 72px;
    line-height: 70px;
    color:$title;
    @extend %Rubik-500;
    margin-bottom: 40px;
  }
  &__text{
    max-width: 370px;
    font-size: 18px;
    line-height: 30px;
    color:$accent;
    @extend %Rubik-400;
    margin-bottom: 42px;

  }
  &__link:last-child{
    display: inline-block;
    background-color: $buttons;
    text-transform: uppercase;
    color:#ffff;
    font-size: 15px;
    line-height: 12px;
    @extend %Rubik-500;
    padding: 24px 20px 20px 28px;
  }
   &__span{
    padding-right: 55px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    li{
      margin-left: 10px;
      margin-top: -70px;
      button{
        
        position:relative;
        padding: 0;
        background-color: #fde3cc;
        width: 29px;
        height: 29px;
        border: none;
        border-radius: 50%;
        &::before{
          content: '';
          position: absolute;
          border-radius: 50%;
          transform: translate(-50%, -50%);
        }  
      }
      &.slick-active{
       button{
         background-color: #ffff;
       }
      }
    }
  }
}
@media(max-width:1200px){
.top-slider{
  &__img{
    width: 80%;
  }
  &__item {
    padding: 75px 170px 130px 120px;
}
&__container { 
  background-position: 523px 0px;
  max-width: 1160px;
}
}
}
@media(max-width:850px){
  .top-slider__item {
    padding: 30px 183px 99px 50px;
}
 }
 @media(max-width:620px){
  .top-slider__item {
    padding: 30px 114px 74px 15px;
}
 }
@media(max-width:768px){
  .top-slider{
  &__item {
    padding: 75px 191px 100px 10px;
}
&__span {
  padding-right: 21px;
}
&__container {
  background-position: 284px 22px;
  max-width: 768px;
}
&__title {
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 25px;
}
&__img {
  width: 80%;
  max-width: 640px;
  max-height: 220px;
  margin-top: 70px;
}
}
}
@media(max-media:540px){
  .top-slider{
  &__item {
    padding: 30px 120px 74px 15px;
}
&__title {
  font-size: 45px;
  line-height: 60px;
  margin-bottom: 25px;
}
&__img {
  width: 75%;
  max-height: 190px;
  margin-top: 150px;
}
}
 }
 

@media(max-width:414px){
  .top-slider{
    &__span {
      padding-right: 10px;
  }
  &__title {
   font-size: 45px;
   line-height: 50px;
   margin-bottom: 15px;
}
  &__item {
    padding: 30px 135px 95px 20px;
}
&__text {
  max-width: 150px;
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 25px;
}
&__link:last-child {
  padding: 17px 10px 17px 15px;
}
&__img {
  width: 100%;
  margin-left: -40px;
  max-height: 165px;
  margin-top: 150px;
}
&__container {
  background-position: -20px 12px;
  max-width: 412px;
}
  }
  .top-slider .slick-dots li {
    margin-left: 30px;
    margin-top: -60px;
  }
}
@media(max-width:372px){
  .top-slider{
  &__img {
    width: 80%;
    max-width: 640px;
    max-height: 180px;
    margin-top: 170px;
}
}
}
@media(max-width:320px){
  .top-slider{
    &__item {
      padding: 5px 136px 75px 1px;
  }
  &__img {
    width: 100%;
    max-height: 140px;    
 }
 &__text {
  margin-bottom: 15px;
}
  }
}



 
 