.category{
 
  width: 270px;

}
.category-search{
  margin-bottom: 60px;
  &__form{
    display: flex;
    
    
  }
  &__input{
   width: 222px;
   border: 2px solid #edf1f4;
   border-radius: 3px;
   padding: 0 5px 0 10px;
   height: 43px;
   }
   &__btn{
     background-color: #edf1f4;
     border: none;
     height: 43px;
     width: 48px;
     border-radius: 3px  ;
     margin-left: -3px;
     cursor: pointer;
   }
  }
  .recent-posts{
    &__img{
      width: 70px;
      height: 70px;
      margin-right: 20px;
    }
    &__item{
      display: flex;
      margin-bottom: 20px;
    }
    &__date{
      display: flex;
      align-items: center;
      color: #9a9a9a;
      font-size: 12px;
      
    }
    &__date-img{
      padding-right:5px;
    }
    &__link{
     @extend%Rubik-400;
     font-size: 14px;
     color: #333333;
     display: inline-block;
     margin-bottom: 12px;
    }
  }
 
  .category-filter{
    width: 270px;
   
  &__form{
    margin-bottom: 70px;
  }
  &__title{
    text-transform: uppercase;
    position: relative;
    color:$title;
    font-size: 18px;
    @extend%DMSans-700;
    margin-bottom: 30px;
    &::after{
      content:"";
      position: absolute;
      margin-left: 12px;
      top: 10px;
      width: 38px;
      height: 3px;
      }
    &::after{
      background-image: url(../images/icons/title.svg);
    }
  }
  
 
  &__label{
    display: block;
    margin-bottom: 2px;
    cursor: pointer;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__input{
    @extend %checkbox-hidden;
    &:checked +.category-filter__checkbox{
      background-color: #edf1f4;
      border-radius: 3px;
      opacity: 0.8;
    }
  }
  &__checkbox{
    max-width: 270px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    @extend%Rubik-400;
    color:$title;
    font-size: 16px;
    
  }
  
}
.category-price{
  max-width: 270px;
  margin-bottom: 87px;
  &__label{
    display: flex;
    justify-content: space-between;
  }



.category-price__num--right{
  margin-left: 175px;
}
.irs--flat .irs-line {
  top: 7px;
  height: 4px;
  background-color: #c2d2db;
  border-radius: 4px;
}
.irs--flat .irs-bar {
  top: 7px;
  height: 4px;
  background-color: #a3bbc8;
}
.irs--flat .irs-handle > i:first-child {
  position: absolute;
  display: block;
  top:-22px;
  left: 50%;
  width: 15px;
  height: 100%;
  margin-left: -1px;
  cursor: pointer;
  background-color: #a3bbc8;
}
.irs--flat .irs-handle.state_hover > i:first-child, .irs--flat .irs-handle:hover > i:first-child {
  background-color: #4da6d7;
}
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {

  display: none;
}
.irs--flat .irs-min, .irs--flat .irs-max {
  display: none;
  top: 25px;
  padding: 1px 3px;
  @extend %Rubik-400;
  color:$title; 
  font-size: 14px;
  line-height: 1.333;
  background-color: transparent;
  
}
}
.filter-brand{
  max-width: 270px;
 margin-bottom: 65px;
  &__input{
    @extend %checkbox-hidden;
  }
  &__label{
    display: block;
    margin-bottom: 2px;
    cursor: pointer;
    &:last-child{
      margin-bottom: 0;
    }
  }

&__input{
  @extend %checkbox-hidden;
  &:checked + .filter-brand__checkbox{
    background-color: #edf1f4;
    border-radius: 3px;
    opacity: 0.8;
  }
}
&__checkbox{
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  @extend%Rubik-400;
  color:$title;
  font-size: 16px;
  }
}
.filter-products{
  &__item{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    &:last-child{
    margin-bottom: 0;
    }
  }
  &__content-link{
    font-size: 14px;
    @extend %Rubik-400;
    color: #333333;
    margin-bottom: 10px;
  }
  &__img{
    object-fit: cover;
    padding-right: 18px;
    width: 70px;
    height: 70px;
  }
  &__content-num{
    font-size: 15px;
    @extend %Rubik-400;
    color: #333333;
  }
  
}

@media(max-width:730px){
  
    .blog__aside{
    display: none;
    }
    
  }