.product-detals{
  padding:115px 0 130px;
}
.product-page{
  &__inner{
    display: flex;
  }
  &__slide{
  width: 550px;
  margin-right: 70px;
  display: flex;
  }
  &__content{
    width: 550px;
  }
  &__title{
    margin-bottom: 25px;
    color:#333333;
    font-size: 40px;
  }
   &__box{
   margin-bottom: 30px;
  }
  &__price{
    color:#333333;
    font-size: 30px;
    margin: 35px 0 40px;
  }
  &__text{
    margin-bottom: 30px;
    font-size: 14px;
   
  }
  &__btn{
    @extend%btn;
    padding: 20px 50px;
    margin-left: 15px;
    margin-bottom: 55px;
  }
  
  
}
.jq-number__field {
  width: 148px;
  border: 1px solid $buttons;
  border-radius: 0px;
  border-bottom-color: $buttons;
  box-shadow: none;
  position: relative;
}
.jq-number__field input {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  background: none;
  @extend%Rubik-400;
  font-size:15px ;
  color:#5c5c5c;
  text-align: center;
}
.jq-number{
  position: relative;
  padding: 0;
}
.jq-number__spin {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 32px;
    border-radius: 0;
    height: 14px;
    border: none;
    background: transparent;
    text-shadow: none;
    cursor: pointer;
    box-shadow: none;
}
.jq-number__spin.plus{
   right: 0px;
   width: 50px;
   height: 50px;
   border-right: 1px solid $buttons;
   border-left: 1px solid $buttons;
}
.jq-number__spin.minus{
  top: 26px;
  right:98px;
  width: 50px;
  height: 50px;
  border-right: 1px solid $buttons;
  border-left: 1px solid $buttons;

}
.jq-number__spin:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 9px;
  height: 1;
  background-color: #333333;
  border-right: none;
  border-bottom: none;
  border-left:none;
}
.jq-number__spin.plus::before {
  content: '';
  position: absolute;
  top: 21px;
  left: 24px;
  width: 2px;
  height: 10px;
  background-color: #333333;
  border-right: none;
  border-bottom: none;
  border-left:none;
}
.jq-number__spin.plus:after {
  top: 25px;
  border: 1px solid #333333;
  left: 20px;
  height: 1px;
  width: 10px;
}
.jq-number__spin.minus:after {
  top: 25px;
  border: 1px solid #333333;
  left: 20px;
  
}

.product-info{
   
   &__item{
     display: flex;
     margin-bottom: 10px;
     width: 125px;
   }
   &__title{
    padding-right:5px ;
   }

   &__title,&__text-link{
    color:$title;
    font-size: 16px;
    line-height: 30px; 
     @extend%Rubik-400;
   }
  }
   

.product-slide{
  display: flex;
  &__prewiev{
    width: 140px;
    margin-right: 25px;
  }
  &__prewiev-item{
   margin-bottom: 18px;
    width: 140px;
    height: 160px;
    cursor: pointer;
    img{
    width: 140px;
    height: 160px;
    object-fit: cover;
    }
  }
  &__show{
    width: 390px;
    img{
    width: 390px;
    height: 530px;
    object-fit: cover;
    }
  }

}

.product-tabs{
  padding-top: 100px;
  
  &__top{
    font-size: 18px;
    margin-bottom: 38px;
    text-align: center;
  }
  &__top-item{
    color:$title;
    background-color: #edf1f4;
    border-radius: 3px;
    margin-right: 12px;
    padding:18px 70px;
    &:last-child{
      margin-right: 0;
    }
  }
  &__top-item--active{
    background-color: $title;
    color:#fff;
  }
    &__content{
      margin-bottom: 120px;
    }
    &__content-text{
      @extend%Rubik-400;
      color:$title;
      font-size: 16px;
      line-height: 30px;
    }
    &__content-item{
      display: none;
      &.product-tabs__content-item--active{
        display: block;
      }
    }
 
}.product-info{
   
  &__item{
    display: flex;
    margin-bottom: 10px;
    width: 125px;
  }
  &__title{
   padding-right:5px ;
  }

  &__title,&__text-link{
   color:$title;
   font-size: 16px;
   line-height: 30px; 
    @extend%Rubik-400;
  }
 }
  

.product-slide{
 display: flex;
 &__prewiev{
   width: 140px;
   margin-right: 25px;
 }
 &__prewiev-item{
  margin-bottom: 18px;
   width: 140px;
   height: 160px;
   cursor: pointer;
   img{
   width: 140px;
   height: 160px;
   object-fit: cover;
   }
 }
 &__show{
   width: 390px;
   img{
   width: 390px;
   height: 530px;
   object-fit: cover;
   }
 }

}

.product-tabs{
 padding-top: 100px;
 
 &__top{
   font-size: 18px;
   margin-bottom: 38px;
   text-align: center;
 }
 &__top-item{
   color:$title;
   background-color: #edf1f4;
   border-radius: 3px;
   margin-right: 12px;
   padding:18px 70px;
   &:last-child{
     margin-right: 0;
   }
 }
 &__top-item--active{
   background-color: $title;
   color:#fff;
 }
   &__content{
     margin-bottom: 120px;
   }
   &__content-text{
     @extend%Rubik-400;
     color:$title;
     font-size: 16px;
     line-height: 30px;
   }
   &__content-item{
     display: none;
     &.product-tabs__content-item--active{
       display: block;
     }
   }

}
.product-related{
 &__title{
   font-size: 36px;
   @extend%DMSans-700;
   margin-bottom: 70px;
  
 }
 &__tabs-link{
   display: flex;
   justify-content: flex-end;
 }
 &__tabs-item{
   padding: 18px 12px;
   border: 1px solid #edf1f4;
   border-radius: 3px;
   margin-right: 20px;
   margin-bottom: 60px;
   &:last-child{
     margin-right: 0;
   }
 }
 &__tabs-item--active{
   border-color: $buttons;
 }
 &__items{
  display: flex;
  
}

 &__card{
   background-color: #ffff;
   margin: 0 15px 40px;
   width: calc(100% / 4 - 30px);
   height: 380px;
   border-radius: 10px;
   text-align: center;
   position: relative;
   box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  overflow: hidden;
  &:hover{
    .product-related__card-links{
      transform: translateX(0);
      
    }
    }
 }
   &__card-title{
     color:$title;
     font-size: 16px;
     line-height: 40px;
     margin-bottom: 15px;
    }
   &__card-price{
     color:$buttons;
     padding-bottom:38px ;
   }
    &__card-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content:flex-end;
       padding: 27px 15px 35px;
       height: 100%;
       overflow: hidden;
       position: relative;
    }
   
   &__card-links{
     position: absolute;
     display:flex;
     bottom:152px;
     box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
     transition: all .3s;
     transform: translateX(300%);
      
     }
   &__card-like, &__card-shopping, &__card-search{
     border:none;
     border-radius:50%;
     background-color: #fff;
     width: 45px;
     height: 45px;
     display: flex;
     align-items: center;
     transition:all .3s;
     justify-content: center;
     &:hover{
     background-color: $buttons;
     
     }
   }
     
   
   &__card-search,&__card-shopping{
    margin-right: 15px;
   }
   &__card-search:hover{
     path{
        fill: #ffff;
      }
    }
      &__card-shopping:hover{
    
        path{
          fill: #fff;
        }
   }
    &__card-like:hover{
    
      path{
        fill: #fff;
        
      }
    }
    
 
}

   
  
   .product-related__card{
     display: none;
       &.product-related__card--active{
      display: block;
       }
     }

     @media(max-width:1000px){
      .product-page{
      &__btn {
        padding: 20px 45px;
        margin-left: 0px;
       
     }
      }
     }
    
     @media(max-width:768px){
      .product-page{
      &__btn {
        padding: 20px 27px;
        margin-left: 0px;
        margin-bottom: 25px;
    }
     &__price {
      font-size: 30px;
      margin: 20px 0 20px;
  }
  }
  .product-tabs__top-item {
    padding: 18px 50px;
}

       .product-slide{
        &__show {
          width: 300px;
      }
       &__content-text {
        max-width: 720px;
    }
     &__content {
      margin-bottom: 50px;
  }
       }
       .product-related{
       &__title {
        margin: 0px;
    }
     &__card {
      width: calc(100% / 2 - 30px);
   } 
   &__items {
    flex-wrap: wrap;
}
     }
     }
     @media(max-width:720px){
      .product-page{
        &__inner{
          flex-direction: column;
        }
      }
      .product-tabs{
      display: flex;
     &__content-text{
      max-width: 370px;
     }
      &__top{
        display: flex;
        flex-direction: column;
      }
      &__top-item {
        margin-right: 15;
        margin-bottom: 10px;
        &:last-child{
          margin-right: 12px;
        }
    }
     }
     }
     @media(max-width:740px){
      .product-tabs{
        &__top-item {
          padding: 18px 35px;
      }
      &__content-text {
        max-width: 700px;
      }
     }
    }

     @media(max-width:560px){
      .product-page{

      &__inner{
        flex-direction: column;
      }
     }
     .product-tabs{
     &__top{
      display: flex;
      flex-direction: column;
     }
     &__top-item{
       padding: 18px 15px;
      margin: 0 10 10px;
     }
     &__content-text{
       max-width: 300px;
     }
    }
    }
     
     
     @media(max-width:414px){
       .product-detals{
         padding: 0 0 20px;
       }
       .product-page{
         &__inner{
           flex-direction: column;
           margin-right: 0;
         }
         &__text{
           max-width: 370px;
         }
         &__content{
           max-width: 400px;
         }
       }
       
       .product-tabs{
         flex-direction: column;
        padding-top: 10px;
         &__top{
          display: flex;
          flex-direction: column;
         }
         &__content {
          margin-bottom: 50px;
        }
         &__top-item {
           margin-right: 0;
          margin-bottom: 10px;
          &:last-child{
            margin-right: 0;
          }
      }
    }   
    .product-slide{
      max-width: 400px;
      margin-right: 0;
      &__prewiev{
     display: none;
    }
  } 
   }
    @media(max-width:375px){
      .product-page{
        &__btn {
          font-size: 12px;
        }
        &__title{
          font-size: 35px;
        }
        &__text {
          max-width: 360px;
        }
        &__content {
          max-width: 360px;
      }
      }
      .product-slide{
        &__show img {
        width: 360px;
        height: 500px;
        }
    }
      .product-info__title, .product-info__text-link {
       
        font-size: 15px;
        line-height: 20px;
    }
     .product-related__tabs{
         display: none;
       }
       .product-tabs{
         &__top {
        font-size: 15px;
         }
    }
    }

    @media(max-width:320px){
      .product-slide {
        max-width: 300px;
    }
    .product-page{
     &__content {
      max-width: 300px;
     }
     &__box {
      margin-bottom: 0px;
     }
  }
    }