footer{
  background-color: $bgfff;
  
}
.footer-top{
  padding: 79px 285px 74px;
  display: flex;
  border-bottom: 1px solid #dae4e9;
  &__logo{
   display: block;
   margin-bottom: 28px;
  }
  &__adress, &__text {
    line-height: 2;
    font-size: 14px;
    @extend %Rubik-400;
    color: $footertext;
  }
  &__contacts{
    width:193px;
    margin-right: 107px;
  }
  &__nav{
    width:128px;
    margin-right: 172px;
  }
  &__item-form{
   max-width: 270px;
  }
  &__link{
    line-height: 2;
    font-size: 14px;
    @extend %Rubik-400;
    color: $footertext;
    display: block;
  }
  &__phone,
  &__email{
    line-height: 2;
    font-size: 14px;
    @extend %Rubik-400;
    color:$footertext;
  }
  &__title{
   @extend %DMSans-700;
   font-size: 16px;
   color:#1f2044; 
   margin-top: 16px;
   margin-bottom: 30px;
  }
  &__text{
    margin-bottom: 25px;
    margin-right: 110px;
  }
  &__form{
    display: flex;
  }
  &__form-input{
   max-width: 170px;
   background-color: #fef7f0;
   border: none;
   width:100%;
   padding: 15px;
   &::placeholder{
     color:#1f2044;
     font-size: 12px;
   }
  }
  &__form-btn{
   border: none;
   background-color:$buttons;
   color:#fff;
   text-transform: uppercase;
   padding: 17px 15px;
   font-size: 12px;
   cursor: pointer;
  }
}
.footer-bottom{
  padding: 40px 285px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  font-size: 14px;
  color:$footertext;
}
   .bottom-menu {
  &__items{
    display: flex;
    align-items: center;
    justify-content: space-between;
   }

  &__item{
    padding-right: 15px;
    padding-left: 15px;
    border-right: 1px solid $footertext; 
    &:last-child{
      border: none;
      padding-right: 0;
    }
   }
  &__link{
    color:$footertext;
    font-size: 14px;
    line-height: 12px;
    text-decoration: none;
    @extend %Rubik-400;
  }
}
@media(max-width:1600px){
  .footer-top {
    padding: 79px 200px 74px;
  }
}
@media( max-width:1750px){
  .footer-top {
    padding: 80px 275px 74px;
  }
}
@media (max-width:1400px){
  .footer-top {
    padding: 80px 145px 74px;
  }
}


@media (max-width:1300px){
  .footer-top{
    padding: 79px 85px 74px;
    display: flex;
    border-bottom: 1px solid #dae4e9;
    &__nav {
      margin-right: 150px;
  }
  }
}


@media (max-width:1150px){
  

  .footer-top{
    &__nav {
      margin-right: 70px;   
  }
  &__title {
    margin-bottom: 15px;
}
  }
  .footer-bottom {
    padding: 40px 220px;
  }
}
 /////////////////////////1050px////////////////////////////////
@media (max-width:1050px){
  .footer-top {
    padding: 20px ;
   flex-wrap: wrap;
   &__logo {
    margin-bottom: 15px; 
  }
  &__adress, &__text, &__link {
    line-height: 1.8;
    
}
   
    &__title {
      margin-bottom: 10px;
  }  

}
.footer-bottom {
  padding: 40px 20px;
}
}
@media (max-width: 1010px){
  .footer-top {
  flex-wrap: nowrap;

&__contacts {
  width: 200px;
  margin-right: 50px;
}
&__link {
  line-height: 1.7;
  font-size: 12px;
  color: #7b7b7b;
  display: block;
}
}
}

@media(max-width:1024px){
  .footer-top__nav {
    margin-right: 60px;
}
}
@media (max-width: 768px){
  .footer-top {
    padding: 7px 10px 5px;
    &__contacts {
      width: 193px;
      margin-right: 50px;
  }
  &__logo{
    width: 100px;
  }
  &__phone, &__email {
    line-height: 1.7;
    font-size: 10px;
    color: #7b7b7b;
}
  &__link {
    line-height: 1.7;
    font-size: 11px;
  }
  &__adress, &__text {
    line-height: 1.7;
    font-size: 11px;
    color: #7b7b7b;
}
  &__title {
    font-size: 15px;
  }
    &__text {
      margin-bottom: 10px;
      margin-right: 60px;
  }
}
}
@media (max-width: 700px){
  .footer-top__nav {
    margin-right: 50px;
}
}
@media (max-width: 650px){
  .footer-top__nav {
    margin-right: 30px;
}
}
@media (max-width: 600px){
  .footer-top{
    flex-wrap: wrap;
    &__contacts{
      width: 100%;
    }
    &__item-form{
      width: 100%;
      margin: 0 auto;
    }
    &__nav {
      margin-right: 20px;
  }
    }
  }

  @media(max-width:540px){
    .footer-top{
     flex-direction: column;
     &__list{
       display: flex;
       align-items: center;
     }
     &__item{
      margin-right: 50px;
     }
     &__item-form {
      width: 100%;
      margin: 0;
  }
}
    
    
    .footer-bottom{
      &__copy{
      font-size: 9px;
    }
   }
  }
  @media(max-width:390px){
    
    .footer-top{

    &__nav {
      margin-right: 30px;
     }
   }
  }


//////////////////////////iphone 7 plus ///////////////////////
@media (max-width: 414px){


.footer-top{
  flex-wrap: wrap;
  &__nav {
    margin-right: 50px;
  }
  &__item{
    margin-right: 40px;
  }
  &__item-form{
    width: 100%;
  }
 &__contacts{
  width: 100%;
  
}
}
.footer-bottom{
  flex-direction: column;
  &__copy{
    margin-bottom: 5px;
  }
 
}
}
//////////////////////////////375px///////////////////////

@media (max-width: 375px){
.footer-top {
 &__contacts {
  width: 100%;
  margin: auto;
  padding: 0 10px;
}
&__text {
  margin-bottom: 5px;
}
&__nav {
  margin-right: 60px;
  margin-left: 20px;
  width: 80px;
}
&__title {
  font-size: 14px;
  margin-bottom: 5px;
}
&__item-form{
  width: 100%;
  margin-left: 5px;
}
  }
  .footer-bottom{
    &__copy{
      font-size: 10px;
    }
    &__link {
      font-size: 12px;     
  }
  }
}
@media(max-width:355px){
  .footer-top__nav {
    margin-right: 21px;
    margin-left: 43px;
}
}

@media(max-width:350px){
  .footer-top__nav {
    margin-right: 20px;
    margin-left: 35px;
}
}
@media (max-width: 320px){
  .footer-top{
    &__nav{
      margin-right: 20px;
    }
  }
  .footer-bottom{
    flex-direction: column;
    &__copy{
      margin-bottom: 5px;
    }
   
}
}