<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/index.min.css">
</head>

<body>
  {% include ('app/module/header/header.html')%}
  <main class="main">
  {% include ('app/module/top-slider/top-slider.html')%}
  {%include ('app/module/description/description.html')%} 
  {%include ('app/module/product-info/product-info.html')%}
  {%include ('app/module/illuminators/illuminators.html')%}
  {%include ('app/module/design/design.html')%}
   <!-- {%include ('app/module/video/video.html')%}
    {%include ('app/module/articles/articles.html')%}
    {%include ('app/module/partners/partners.html')%} -->
  </main>
  {% include ('app/module/footer/footer.html')%}
  <script src="js/main.min.js"></script>
</body>

</html>