<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/style.min.css">
  <link rel="stylesheet" href="css/product__list1.min.css">
</head>
<body>
  {% include ('app/module/header/header.html')%}
  <main class="main">
    <section class="top">
      <div class="top__container">
        <div class="container">
          <h2 class="top__title title">Product list 1</h2>
          <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="#">
                  Home
                </a>
              </li>
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="#">Product list 1</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="product">
      <div class="container">
        <div class="product__inner">
          <button class="product__filter-button">
              <img src="./images/icons/filter-solid.svg">
            </button>
         <!--{% include ('app/module/category-filter/category-filter.html')%}-->
        
<div class="product__categories category">
            
  <div class="category-filter">
    <h3 class="category-filter__title">CATEGORY</h3>
    <form class="category-filter__form" action="#">
      <label class="category-filter__label">
        <input class="category-filter__input" type="checkbox">
        <div class="category-filter__checkbox">
          <span>Chair</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="5.188" height="9.531">
            <path
              d="M.472 9.538a.463.463 0 00.331-.14l4.221-4.265.013-.013a.522.522 0 00.095-.144.541.541 0 00.045-.217.528.528 0 00-.044-.211.525.525 0 00-.1-.147.043.043 0 00-.011-.012L.801.124a.461.461 0 00-.68.019.539.539 0 00.018.724l3.857 3.9-3.857 3.9a.539.539 0 00-.018.724.467.467 0 00.351.147z"
              fill="#243f4d" fill-rule="evenodd" />
          </svg>
        </div>
      </label>
      <label class="category-filter__label">
        <input class="category-filter__input" type="checkbox">
        <div class="category-filter__checkbox">
          <span>Table </span>
          <svg xmlns="http://www.w3.org/2000/svg" width="5.188" height="9.531">
            <path
              d="M.472 9.538a.463.463 0 00.331-.14l4.221-4.265.013-.013a.522.522 0 00.095-.144.541.541 0 00.045-.217.528.528 0 00-.044-.211.525.525 0 00-.1-.147.043.043 0 00-.011-.012L.801.124a.461.461 0 00-.68.019.539.539 0 00.018.724l3.857 3.9-3.857 3.9a.539.539 0 00-.018.724.467.467 0 00.351.147z"
              fill="#243f4d" fill-rule="evenodd" />
          </svg>
        </div>
      </label>
      <label class="category-filter__label">
        <input class="category-filter__input" type="checkbox">
        <div class="category-filter__checkbox">
          <span>Lamp</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="5.188" height="9.531">
            <path
              d="M.472 9.538a.463.463 0 00.331-.14l4.221-4.265.013-.013a.522.522 0 00.095-.144.541.541 0 00.045-.217.528.528 0 00-.044-.211.525.525 0 00-.1-.147.043.043 0 00-.011-.012L.801.124a.461.461 0 00-.68.019.539.539 0 00.018.724l3.857 3.9-3.857 3.9a.539.539 0 00-.018.724.467.467 0 00.351.147z"
              fill="#243f4d" fill-rule="evenodd" />
          </svg>
        </div>
      </label>
      <label class="category-filter__label">
        <input class="category-filter__input" type="checkbox">
        <div class="category-filter__checkbox">
          <span>Watch</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="5.188" height="9.531">
            <path
              d="M.472 9.538a.463.463 0 00.331-.14l4.221-4.265.013-.013a.522.522 0 00.095-.144.541.541 0 00.045-.217.528.528 0 00-.044-.211.525.525 0 00-.1-.147.043.043 0 00-.011-.012L.801.124a.461.461 0 00-.68.019.539.539 0 00.018.724l3.857 3.9-3.857 3.9a.539.539 0 00-.018.724.467.467 0 00.351.147z"
              fill="#243f4d" fill-rule="evenodd" />
          </svg>
        </div>
      </label>
      <label class="category-filter__label">
        <input class="category-filter__input" type="checkbox">
        <div class="category-filter__checkbox">
          <span>Clock</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="5.188" height="9.531">
            <path
              d="M.472 9.538a.463.463 0 00.331-.14l4.221-4.265.013-.013a.522.522 0 00.095-.144.541.541 0 00.045-.217.528.528 0 00-.044-.211.525.525 0 00-.1-.147.043.043 0 00-.011-.012L.801.124a.461.461 0 00-.68.019.539.539 0 00.018.724l3.857 3.9-3.857 3.9a.539.539 0 00-.018.724.467.467 0 00.351.147z"
              fill="#243f4d" fill-rule="evenodd" /></svg>
        </div>
      </label>
    </form>
  </div>
  <div class="category-price ">
    <h3 class="category-filter__title">PRICE</h3>
    <form class="category-price__form" action="#">
      <input class="category-price__input" type="text" data-min="0" data-max="1000" data-from="100"
        data-to="500">
    </form>
    <label class="category-price__label">
      <span class="category-price__num">$</span>
        <span class="category-price__from"></span>
        <span class="category-price__num--right">$</span>
        <span class="category-price__to"></span>
    </label>
  </div>
  <div class="product__categories filter-brand">
    <h3 class="category-filter__title">BRAND</h3>
    <form class="filter-brand__form" action="#">
      <label class="filter-brand__label">
        <input class="filter-brand__input" type="checkbox">
        <div class="filter-brand__checkbox">
          <span> RFL</span>
          <span>(10)</span>
        </div>
      </label>
      <label class="filter-brand__label">
        <input class="filter-brand__input" type="checkbox">
        <div class="filter-brand__checkbox">
          <span> Brothers </span>
          <span>(21)</span>
        </div>
      </label>
      <label class="filter-brand__label">
        <input class="filter-brand__input" type="checkbox">
        <div class="filter-brand__checkbox">
          <span>Regal</span>
          <span>(3)</span>
        </div>
      </label>
      <label class="filter-brand__label">
        <input class="filter-brand__input" type="checkbox">
        <div class="filter-brand__checkbox">
          <span>Nadia</span>
          <span>(14)</span>
        </div>
      </label>
      <label class="filter-brand__label">
        <input class="filter-brand__input" type="checkbox">
        <div class="filter-brand__checkbox">
          <span>Otobi</span>
          <span>(6)</span>
        </div>
      </label>
    </form>
  </div>
          <div class="product__categories filter-products">
              <h3 class="category-filter__title">RECENT PRODUCTS</h3>
              <ul class="filter-products__items">
                <li class="filter-products__item">
                  <img class="filter-products__img" src="./images/list1__img/lamp1.jpg" alt="recent products lamp1">
                  <div class="filter-products__content-box">
                    <a class="filter-products__content-link">Pendant lamp</a>
                    <div class="star" data-rateyo-rating="4"></div>
                    <span class="filter-products__content-num">23$</span>
                  </div>
                </li>
                <li class="filter-products__item">
                  <img class="filter-products__img" src="./images/list1__img/lamp2.jpg" alt="recent products lamp2">
                  <div class="filter-products__content-box">
                    <a class="filter-products__content-link">Pendant lamp</a>
                    <div class="star" data-rateyo-rating="4"></div>
                    <span class="filter-products__content-num">23$</span>
                  </div>
                </li>
                <li class="filter-products__item">
                  <img class="filter-products__img" src="./images/list1__img/lamp3.jpg" alt="recent products lamp3">
                  <div class="filter-products__content-box">
                    <a class="filter-products__content-link">Pendant lamp </a>
                    <div class="star" data-rateyo-rating="4"></div>
                    <span class="filter-products__content-num">23$</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        {% include ('app/module/shop-card/shop-card.html')%}
           
          
        </div>
    </section>
   {%include ('app/module/partners-short/partners-short.html')%}
  </main>
  {% include ('app/module/footer/footer.html')%}
  <script src="js/main.min.js"></script>
</body>

</html>