<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!--<link rel="stylesheet" href="css/style.min.css">-->
  <link rel="stylesheet" href="css/product__list1.min.css">
</head>
<body>
  {% include ('app/module/header/header.html')%}
  <main class="main">
    <section class="top">
      <div class="top__container">
        <div class="container">
          <h2 class="top__title title">Product list 1</h2>
          <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="#">
                  Home
                </a>
              </li>
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="#">Product list 1</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="product">
      <div class="container">
        <div class="product__inner">
         {% include ('app/module/category-filter/category-filter.html')%}
          <div class="product__categories filter-products">
              <h3 class="category-filter__title">RECENT PRODUCTS</h3>
              <ul class="filter-products__items">
                <li class="filter-products__item">
                  <img class="filter-products__img" src="./images/list1__img/lamp1.jpg" alt="recent products lamp1">
                  <div class="filter-products__content-box">
                    <a class="filter-products__content-link">Pendant lamp</a>
                    <div class="star" data-rateyo-rating="4"></div>
                    <span class="filter-products__content-num">23$</span>
                  </div>
                </li>
                <li class="filter-products__item">
                  <img class="filter-products__img" src="./images/list1__img/lamp2.jpg" alt="recent products lamp2">
                  <div class="filter-products__content-box">
                    <a class="filter-products__content-link">Pendant lamp</a>
                    <div class="star" data-rateyo-rating="4"></div>
                    <span class="filter-products__content-num">23$</span>
                  </div>
                </li>
                <li class="filter-products__item">
                  <img class="filter-products__img" src="./images/list1__img/lamp3.jpg" alt="recent products lamp3">
                  <div class="filter-products__content-box">
                    <a class="filter-products__content-link">Pendant lamp </a>
                    <div class="star" data-rateyo-rating="4"></div>
                    <span class="filter-products__content-num">23$</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        {% include ('app/module/shop-card/shop-card.html')%}
           
          
        </div>
    </section>
   {%include ('app/module/partners-short/partners-short.html')%}
  </main>
  {% include ('app/module/footer/footer.html')%}
  <script src="js/main.min.js"></script>
</body>

</html>