.header{
  
  &__inner{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.menu{
  &__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 178px;
  }
  &__btn{
    display: none;
  }
  &__list-item:not(:last-child){
   margin-right: 30px;
  }
  
  &__list-link{
  color:$accent;
  font-size: 15px;
  line-height: 12px;
  text-decoration: none;
  @extend %Rubik-400;
  transition: all 0.3s;
  &:hover{
    border-bottom: 1px solid $accent;

  }
  
 }
 &menu__list-link--active{
   color:$accent;
   
 }
}

.user-nav{
   display: flex;
   position: relative;
  &__link{
  position: relative;
  border: none;
  background-color:#fcd7b6;
  cursor: pointer;
 
  }
  
  &__link--right{
    padding: 18px 30px 10px 40px;
    border-radius: 0 30px 30px 0;
    position: relative;
    &::before{
      content:'';
      position: absolute;
      top:10px;
      border: 1px solid #fff;
      padding: 15px 0px;
      left: -1px;

    }
  }
  &__link--left{
    padding: 18px 30px 10px 40px;
    border-radius: 30px 0 0 30px;
    }

  &__num{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top:10px;
    left:50px;
    font-size: 10px;
    color:#436372;
    text-align: center;
    padding:3px;
    z-index: 1;
    @extend %DMSans-400;
  }
  &__link-search, .user-nav__link-menu{
   text-align: center;
    border: none;
    border-radius: 50%;
    width: 52px;
    height: 52px;
   
  }
  &__link-search{
    margin-right: 21px;
    background-color: rgba(163,187,200,.2);
    display: flex;
    align-items: center;
    justify-content: center;
    
}


  &__link-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a3bbc8;
    margin-left: 18px;
    
  }
  
}
                        /***************1024px****************/

@media (max-width:1024px){
  .menu{
    &__btn{
      display: none;
    }
  }
}
                       /******************900px***************/
@media (max-width:900px){
  .menu{
    &__btn{
      display: none;
    }
  }
  .user-nav{
  &__link--left {
    padding: 18px 25px 10px 25px;
    border-radius: 30px 0 0 30px;
}
&__link--right {
  padding: 18px 25px 10px 25px;
  border-radius: 0 30px 30px 0;
  
}
&__link-menu {
  margin-left: 7px;
}
  &__num {
    top: 10px;
    left: 35px;
    
}
&__link-search {
  margin-right: 7px;
}
}

}
/*************860px**********/
@media (max-width:860px){
  
.user-nav{
  margin-left: auto;
}

  .menu{
  order: 1;
  margin:0 20px 0;
  &__list{
   transform: translateY(-200%);
   position: absolute;
   top:150px;
   width: 100%;
   left: 0;
   flex-direction: column;
   align-items: center;
   z-index: 5;
   background-color: $slider;
   opacity: 0.8;

    transition: all .3s;     
   &.menu__list--active{
    transform: translateY(0%);
    transition: all .3s; 
   }
  }
  &__list-item:not(:last-child) {
    margin-right: 0px;
}
  &__list-item {
    text-align: center;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 12px;
}
&__list-link{ 
  display: block;
  width: 100%;
  padding: 5px 0;
}

  &__btn{
    width: 30px;
    height: 24px;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
    span{
     width: 100% ;
     height: 3px;
     background-color: $title  ;
    }
    &:after,
    &::before{
     content: "";
     position: absolute;
     width: 100% ;
     height: 3px;
     background-color: $title  ;
    }
    &:before{
     top:0;
    }
    &:after{
      bottom: 0;
    }
  }
}
}
/********************500px*********************/
@media (max-width:500px){
  .header{
   &__inner{
     display: flex;
     flex-wrap: wrap;
   }
  }
   .user-nav{
    width: 100%;
    justify-content: flex-end;
    margin-top: 10px;
  }
  .menu{
    order: 0;
  }
  &__list{
    top:160px;
  }
  }
  /////////////////////////375px//////////////
  @media (max-width:375px){
    .header__inner {
      padding: 25px 0;
    }
    .user-nav {
      top:15px;
    &__link-menu {
      margin-right: 50px;
    }
   }
   
  }
  /////////////////////////7plus/////////////////////////
  @media (max-width:414px){
    .user-nav{
      &__link--left{
        top: -57px;
      }
      &__link--right{
        top: -57px;
        margin-right: 5px;
      }
    &__link-search {
      margin-right: 140px;
     }
    }
  }
  
  @media(max-width:411px){
    .user-nav__link--left, .user-nav__link--right{
      top: 0;
  }
  .user-nav__link-search{
    margin-right: 10px;
  }
  }
  
  
  /************320px****************/
  @media (max-width:320px){
  .user-nav{ 
  &__link-menu {
    margin:0 10px 0 15px;
  }
   &__link--right{
    top:0px;
    margin: 0;
   }
   &__link--left{
     top:0px;
   }
  &__link-search {
    margin-right: 15px;
  }
  }
}