.breadcrumbs{
  
  display: flex;
  justify-content: center;
  &__list{
    display: flex;
  }
  &__item{
    color: #83898f;
    padding-right: 20px;
    position: relative;
    &::after{
    content:"/";
    position: absolute;
    height: 13px;
    right: 7px;
    top:0px;
    }
    &:last-child{
     padding-right: 0;
  &::after{
    display: none;
  }
    }
  }
  &__link{
    color: inherit;
  }
}
.top{
  &__container{
    max-width: 1920px;
    background-color: #edf1f4;
    padding:33px 0 ;
    text-align: center;
  }
}