.blog-page{
  padding: 87px 0 ;
&__inner{
  display: flex;
  justify-content: space-between;
}
&__content{
  width: 829px;
  margin-right: 70px;
}
&__aside{
  width:270px;
}
&__item{
  
  margin-bottom: 50px;
  &:last-child{
    margin-bottom: 75px;
  }
}
&__img-box{
  margin-bottom: 40px;
}
&__img{
  position: relative;
  object-fit: cover;
  max-width: 830px;
  height: 500px;
  display: block; 
}
&__img-info{
  position: absolute;
  display: flex;
  align-items: flex-end;
  background-color: $buttons;
  height: 70px;
  width: 275px;
  margin-top: -70px;
  padding:25px 20px;
}
&__date{
  color: #ffff;
  font-size: 12px;
  margin: 0  20px 0 5px;
}
&__author{
  color: #ffff;
  font-size: 12px;
}
&__item-link{
  border: 1px solid $buttons;
  padding:20px 20px 25px 20px;
  color: $buttons;
  transition: all .3s;
  &:hover{
    background-color:$buttons;
    color: #fff;
      path{
        fill: #fff;    
      }
  }
 }
 &__item-span{
   padding-right: 44px;
  }
 
 &__item-title{
   color:#333333;
   font-size: 36px;
   @extend%Rubik-400;
   margin-bottom: 42px;
 }
 &__item-text{
  @extend%Rubik-400;
  font-style: 16px;
  line-height: 30px;
  margin-bottom: 37px;
 }
 &__left-img{
    float: left;
    margin-right: 30px;
    margin-bottom: 15px;
  }
 }