.blog-page{
  padding: 87px 0 ;
&__inner{
  display: flex;
  justify-content: space-between;
}
&__content{
  width: 829px;
  margin-right: 70px;
}
&__aside{
  width:270px;
}
&__item{
  
  margin-bottom: 50px;
  &:last-child{
    margin-bottom: 75px;
  }
}
&__img-box{
  margin-bottom: 40px;
}
&__img{
  position: relative;
  object-fit: cover;
  max-width: 830px;
  height: 500px;
  display: block; 
}
&__img-info{
  position: absolute;
  display: flex;
  align-items: flex-end;
  background-color: $buttons;
  height: 70px;
  width: 275px;
  margin-top: -70px;
  padding:25px 20px;
}
&__date{
  color: #ffff;
  font-size: 12px;
  margin: 0  20px 0 5px;
}
&__author{
  color: #ffff;
  font-size: 12px;
}
&__item-link{
  border: 1px solid $buttons;
  padding:20px 20px 25px 20px;
  color: $buttons;
  transition: all .3s;
  &:hover{
    background-color:$buttons;
    color: #fff;
      path{
        fill: #fff;    
      }
  }
 }
 &__item-span{
   padding-right: 44px;
  }
 
 &__item-title{
   color:#333333;
   font-size: 36px;
   @extend%Rubik-400;
   margin-bottom: 42px;
 }
 &__item-text{
  @extend%Rubik-400;
  font-style: 16px;
  line-height: 30px;
  margin-bottom: 37px;
 }
 &__left-img{
    float: left;
    margin-right: 30px;
    margin-bottom: 15px;
  }
 }
@media(max-width:1200px){
 .blog-page{
 &__img {
  max-width: 800px;
  height: 470px; 
   }
   &__item-text{
     max-width: 790px;
   }
 } 
}

@media(max-width:1140px){
  .blog-page{
    &__content {
      margin-right: 20px;
  }
  }
}
@media(max-width:1100px){
  .blog-page{
  &__img {
    max-width: 750px;
    height: 450px;
  }
 }
}

@media(max-width:980px){
.blog-page{
  &__img {
    max-width: 670px;
    height: 400px;
  }
  &__item-text {
    max-width: 640px;
}
 }
}

@media(max-width:980px){
  .blog-page{
    &__img {
      max-width: 640px;
      height: 400px;
    }
    &__item-text {
      max-width: 640px;
  }
   }
  }

  @media (max-width: 980px){
.blog-page{
  &__img {
    max-width: 590px;
    height: 360px;
  }
  &__img-info { 
    height: 51px;
    margin-top: -51px;
    padding: 15px 20px;
}
&__item-link {
  
  padding: 15px;
   }  
   &__item-title {
    font-size: 32px;
   }
   &__item-text {
    max-width: 600px;
}
 }
}

@media (max-width: 860px){
.blog-page{
  padding-top: 40px;
&__item-text {
    max-width: 485px;
  }
  &__img {
    max-width: 500px;
    height: 320px;
}
 &__item-title {
  font-size: 30px;
  }
 } 
}
@media (max-width: 785px){
.blog-page{
&__img {
    max-width: 440px;
    height: 260px;
  }
  &__item-title {
    font-size: 26px;
}
 &__item-text {
    max-width: 400px;
}
  &__author, &__date {
    font-size: 10px;
  }
 }
 .recent-posts{
   max-width: 240px;
 }
}

@media(max-width:730px){
  .blog-page{
  &__content{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 0;
  }
  
}
}
@media(max-width:730px){
  .blog-page{
    &__img {
      max-width: 390px;
      height: 218px;
  }
  &__item-title {
    font-size: 24px;
}
   &__item-text {
    max-width: 340px;
}
  
}
}

@media (max-width: 410px){
.blog-page{
 &__img {
    max-width: 360px;
    height: 210px;
  }
  &__item-title {
    font-size: 22px;
}
 }
}
@media(max-width:320px){
  &__img {
  max-width: 310px;
  height: 180px;
  }
}