.information{
  &__title{
  @extend %Rubik-500;
  font-size: 24px;
  text-align: left;
  margin-bottom: 30px;
  &:first-child{ 
    margin-top: 120px;
  }
   }
  &__list {
    
   max-width: 1200px;
   width: 100%;
  }
  &__item{
   @extend %Rubik-400;
    font-size: 16px;
    line-height:2em;
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 70;
    }
  }
  &__text{
    @extend %Rubik-400;
    font-size: 16px;
    line-height:2em;
    margin-bottom: 70px;
    &:last-child{
      margin-bottom: 120px;
    }
  }
}          