.modal{
  max-width: 470px;
  margin: 0 auto 120px;
  padding-top: 115px;
 
  &__label{
    display: block;
    margin-bottom: 27px;
    
  }
  &__input{
    display: block;
    width: 100%;
    border: 1px solid  #f6f6f6 ; 
    padding:0 15px;
    height: 55px;
    margin-top: 4px;
  }
  &__btn{
    display: block;
    background-color: $buttons;
    border: none;
    color: #ffff;
    @extend%Rubik-500;
    text-transform: uppercase;
    font-size: 18px;
    padding: 22px 0;
    width:100%;
    cursor: pointer;
    margin-bottom: 30px;
    transition: all .3s;
    &:hover{
     background-color: $accent ; 
    }
  }
  &__error{
    margin-left: 160px;
    color:$accent;
  }
  &__text{
    text-align: center;
    @extend %Rubik-400;
    font-size: 14px;
    margin-bottom: 25px;
    border-top: 1px solid #f6f6f6;
    padding-top: 34px;
  }
  &__register{
    display:block;
    text-align: center;
    @extend %Rubik-500;
    color:$title;
    border: 1px solid $buttons;
    font-size: 18px;
    text-transform: uppercase;
    padding: 20px 0;
    width: 100%;
    transition: all .3s;
    &:hover{
    color: $buttons;
    }
  }
  
}