.partners{
  position: relative;
  background-color: #fef7f0;
  z-index: -1;
  margin-top: -150px;
  &__logo{
    padding: 260px 0 90px;
  }

&__list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
}

@media(max-width:750px){
  .partners{
  &__list {
    justify-content: space-around;
}
&__item-logo{
  width:80%;
}
&__logo {
  padding: 180px 0 50px;
}
  }
}
@media(max-width:650px){
  .partners{
    &__item-logo{
      width: 50%;
    }
  }
}